body {
	background-image: url(hatter02.png);
}

p {
	text-align: justify;
}

.oldal {
	background-color: #e5e5e5;
	color: #333;
	max-width: 600px;
	margin-top: 15px;
}

h1 {
	text-align: center;
}

#kep01, #kep03 {
	float: right;
	margin-left: 8px;
}

#kep02 {
	float: left;
	margin-right: 8px;
}

img {
	width: 200px;
	border-radius: 5px;
}

#vonalas {
	text-transform: uppercase;
	letter-spacing: 8px;
}
